<div class="alert alert-warning" role="alert">
  Please note that you can only vote for one person!!!
</div>
<div id="body">
	<h2 style="font-family: Times New Roman">Ongoing elections:</h2><br>

	<!-- Deni i tried to help u here =))
		Awwwww.. Thanks so much >:D<-->
	<div class="election" *ngFor="let election of elections_from_firestore | async">
	  <h3 style="font-family: Times New Roman">
	    <a [title]="election.Name + ' details'" [routerLink]="['/elections', election.id]">
	      {{election.Name}}
	    </a>
	  </h3>

	  <p>{{election.Description}}</p>
	  <p>From {{election.Start_Date}} {{election.Start_Time}} to {{election.End_Date}} {{election.End_Time}}</p>
	  <br>
	</div>
</div>
