<div class="content">
	<h2>Ongoing elections:</h2>

	<!-- Deni i tried to help u here =))
		Awwwww.. Thanks so much >:D<-->
	<div class="election123" *ngFor="let election of elections_from_firestore | async">
	  <h3>
	    <a [title]="election.Name">
	      {{election.Name}}
	    </a>
	  </h3>

	  <p>{{election.Description}}</p>
	  <p>From {{election.Start_Date}} to {{election.End_Date}}</p>
	  <p>//////////////////////////////////////////////////////////////////////////////////</p>
	  <!-- <div class="candidates" *ngFor="let candidate of candidates _from_firestore| async">
		</div> -->

	</div>
</div>