<div class="alert alert-warning" role="alert">
  Please note that you can only vote for one person!!!
</div><br>
<div id="body">
	<h2 style="font-family: Times New Roman">Ongoing elections:</h2><br>

	<!-- Deni i tried to help u here =))
		Awwwww.. Thanks so much >:D<-->
	<div class="election" *ngFor="let election of elections_from_firestore | async">
	  <h3 style="font-weight: 900">
	    <a [title]="election.Name + ' details'" [routerLink]="['/elections', election.id]">
	      {{election.Name}}
	    </a>
	  </h3>

	  <p>{{election.Description}}</p>
    <p>From <span style="color: #59B200">[{{election.Start_Date}}]</span>
      <span style="color: #59B200">{{election.Start_Time}}</span>
      to <span style="color: #59B200">[{{election.End_Date}}]</span>
      <span style="color: #59B200">{{election.End_Time}} </span></p>
	  <br>
	</div>
</div>
