
<br>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <div formGroupName="details">
    <h2>General details</h2>
      <label>
        Election name:
        <input type="text" formControlName="electionName" autocomplete="off" required><br>
      </label>

     <label>
       Description:
       <textarea type="text" formControlName="electionDescription" autocomplete="off" required></textarea><br>
     </label>
 </div>

 <br>

   <div formGroupName="duration">
     <h2>Duration</h2>

     <h4>Starting date:</h4>
     <label>Date: </label>
     <input type="date" formControlName="startDate">

     <label>Time: </label>
     <input type="time" formControlName="startTime">

     <h4>Ending date:</h4>
     <label>Date: </label>
     <input type="date" formControlName="endDate">

     <label>Time: </label>
     <input type="time" formControlName="endTime">

   </div>

   <br>

   <div formArrayName="candidates">
     <h2>Candidates:</h2>

     <div *ngFor="let candidate of candidates.controls; let i=index">


       <div formGroupName="candidate">
         <label>Name:</label>
           <input type="text" [formControlName]="i">
         <label>Details:</label>
           <input type="text" [formControlName]="i">


       </div>

   </div>

   <button (click)="addCandidate()">Add..</button>
 </div>

  <br><br>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>


<!--
<p>
  Form Status: {{ profileForm.status }}
</p>

<p>
  Value: {{ profileForm.value }}
</p>


<label>
  Name:
  <input type="text" [formControl]="name">

  </label>

  <p>
    <button (click)="updateName()">Update Name</button>
  </p>-->
