<div id="body" >

  <label for="email">Email address:</label><br>
  <input id="email" type="text" name="email" placeholder="Contact email" required><br>

  <label for="password">Password</label><br>
  <input id="password" type="password" name="password" placeholder="Enter your Password" required><br><br>

  <button (click)="login()"> Log In </button><br><br>

  <a routerLink="/register">Haven't registered yet?</a><br>
  <a href="./forgot-pwd">Forgot your password?</a><br>    <!-- to do href-->
</div>
