<div id="body" >

  <div class="m-5">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Contact email" required>
  </div>

  <div class="m-5">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter your Password" required><br>
  </div>

  <div class="mx-5">
    <button (click)="login()" class="btn btn-primary"> Log In </button><br><br>

  <a routerLink="/register">Haven't registered yet?</a><br>
  <a href="./forgot-pwd">Forgot your password?</a><br>    <!-- to do href-->
</div>
