#body {
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  margin-left: 10%;
  font-family: "Times New Roman";
  margin-top: 5%;
}

.candidates {
  margin-top: 1%;
}

button {
  margin-top: 1%;
}

.candidate_info{
  display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
}
