<div id="body">
	<h2 style="font-family: Times New Roman">{{electionName}}:</h2>
	<h4 style="font-family: Times New Roman">Description: {{electionDescription}}</h4>
	<h4 style="font-family: Times New Roman">From {{electionStart_Date}} at {{electionStart_Time}} to {{electionEnd_Date}} at {{electionEnd_Time}}</h4>
	<h4 style="font-family: Times New Roman">Candidates:</h4>
	<div class="candidates" *ngFor="let candidate of candidates_from_firestore | async">
		<p>Name: {{candidate.id}}<p>
		<p>Details: {{candidate.Details}}</p>

		<br>
	</div>

  <button *ngIf="isActive()" [disabled]="!isSignedIn()" [routerLink]="['/voting-page', electionId]">Vote in this election</button>

</div>
