<div class="content">
	<h2 style="font-family: Times New Roman">Current user profiles:</h2>

	<div class="user" *ngFor="let user of users_from_firestore | async"><br>
	  <h3 style="font-family: Times New Roman">{{user.id}}</h3>
	  <p>Name: {{user.First_Name}} {{user.Last_Name}}</p>
	  <p>Address: {{user.City}}</p>
	  <button class="btn btn-success" *ngIf="!user.Admin" (click)="make_admin(user.id)">Make Admin</button>
    <button class="btn " *ngIf="user.Admin" (click)="remove_admin(user.id)">Remove Admin</button>
	  <br>

	</div>
</div>
