.content {
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  margin-left: 10%;
  margin-top: 5%;
  font-family: "Times New Roman";
}

.user {
  margin-bottom: 2%;
}

button {
  margin-right: 1%;
}
