#body {
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: left;
  margin-left: 10%;
  margin-top: 5%;
  flex-direction: column;
  font-family: "Times New Roman";
}

.candidates{
  margin-top: 1%;

}
