<div id="body" *ngIf="!isProfileComplete">
  <p>Complete your profile:</p>

  <p>Name:</p>
  <label for="firstname">First</label>
  <input type="text" id="firstname" name="firstname" required>
  <label for="lastname">Last</label>
  <input type="text" id="lastname" name="lastname" required><br><br>

  <label for="cnp">CNP:</label><br>
  <input type="text" id="cnp" name="cnp" required><br><br>

  <label for="serie">Identity card series and number:</label><br>
  <input type="text" id="serie" name="serie" required><br><br>

  <p>Address:</p> <!-- god i cant wait to css this -->
  <label for="county">County</label>
  <input type="text" id="county" name="county" required>
  <label for="city">City</label>
  <input type="text" id="city" name="city" required>
  <label for="street">Street</label>
  <input type="text" id="street" name="street" required>
  <label for="number">Number</label>
  <input type="number" id="number" name="number" required><br><br>

  <label>Gender:</label><br>

  <div *ngFor="let gender of genders">
    <input type="radio" name="selected_gender" value="{{gender}}" (change)="radioChangeHandler($event)">
    <i>{{gender}}</i><br>
    
  </div>
  <br>
  <!-- Might be a bug where gender options only appear after save is pressed once T_T -->

  <button (click)="add_data()"> Save </button><br><br>

</div>

<!-- Display user data from db -->
<div id="body" *ngIf="isProfileComplete">
  <p>Your profile's info:</p>

  <p>Your name:</p>

  <button> Edit profile </button><br><br> <!-- No functionality yet -->

</div>