
<div id="body" >
  <p>Name:</p>
  <label for="firstname">First</label>
  <input type="text" id="firstname" name="firstname" required>
  <label for="lastname">Last</label>
  <input type="text" id="lastname" name="lastname" required><br><br>

    <label for="cnp">CNP:</label><br>
    <input type="text" id="cnp" name="cnp" required><br><br>

    <label for="serie">Identity card series and number:</label><br>
    <input type="text" id="serie" name="serie" required><br><br>

    <p>Address:</p> <!-- god i cant wait to css this -->
    <label for="county">County</label>
    <input type="text" id="county" name="county">
    <label for="city">City</label>
    <input type="text" id="city" name="city">
    <label for="street">Street</label>
    <input type="text" id="street" name="street">
    <label for="number">Number</label>
    <input type="number" id="number" name="number"><br><br>

    <label>Gender:</label><br>
    <input type="radio" id="male" name="gender" value="male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label><br><br>

    <label for="email">Email address:</label><br>
    <input id="email" type="text" name="email" placeholder="Contact email" required><br>

    <label for="password">Password:</label><br>
    <input id="password" type="password" name="password" placeholder="Account password" required>
    <input id="confirm" type="password" name="confirm" placeholder="Confirm password" required><br><br>

    <p>After completing your profile for registering, future logins will require your CNP and password.</p><br>

   <!-- poate bagam aici ceva smecherie dinaia cu accept termenii si conditiile=)) -->
    <button (click)="register()"> Register </button><br><br>

    <a routerLink="/login">Already registered?</a><br>

</div>
